<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button> {{link-to "Sovina" "index" class="navbar-brand"}}

    </div>

    <div id="navbar" class="navbar-collapse collapse">
      {{#if session.isAuthenticated}}
      <ul class="nav navbar-nav">
        <li>
          {{link-to "Novo Gasto" 'outcome.new'}}
        </li>
      </ul>
      {{/if}}
      <ul class="nav navbar-nav navbar-right">
        {{#if session.isAuthenticated}}
        <button class='btn btn-default navbar-btn' {{action 'signOut'}}>
                  {{fa-icon 'sign-out'}} Sair
              </button>
        {{else}}
          <li>
            {{link-to "Entrar" 'sign-in'}}
          </li>
          <li>
            {{link-to "Cadastrar" 'sign-up'}}
          </li>
        {{/if}}
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
</nav>
